.workspace--container {
    display: flex;
    flex: 1;
    min-height: 1px;
    overflow: hidden;
}

.asauna--main {
    display: flex;
    flex: 1;
    flex-direction: column;
    min-width: 920px;
    position: relative;
    height: 100vh;
    overflow-y: scroll;
}

.newUserWorkspaceContainer {
    display: flex;
    // background: linear-gradient(to top right, 
    // rgba(255, 82, 99, 0.9) 10%, 
    // rgba(255, 115, 129, 0.9) 65%, 
    // rgba(252, 189, 1, 0.9) 125%);
    min-height: 100vh;
    position: relative;
    justify-content: center;
    // align-items: center;
    // background-image: url("../../../../CLean-desk.jpeg")
}

.newWorkspace--content {
    margin-top: 150px;
    margin-left: auto;
    margin-right: auto;
    // float: left;
    position: absolute;
    // display: flex;
    // align-items: center;
    // z-index: 1000;
}


.newUserWorkspaceContainer img{
    position: absolute;
    object-fit: cover;  
}